.indexBod{
background-image: url("https://i.pinimg.com/originals/32/73/8a/32738ac58664397be455696c5f94ce47.jpg");
}

.lifeBod{
background-image: url("https://i.ytimg.com/vi/kdS--ICIiuI/maxresdefault.jpg");
background-size: 100%;
background-repeat: no-repeat;
}

.hobbysBod{
background-image: url("https://jojocomparisons.github.io/images/DIU21/bd-11120.jpg");
background-repeat: no-repeat;
background-size: 100%;
}

.abilitiesBod{
background-image: url("https://wallpapermemory.com/uploads/793/yoshikage-kira-background-hd-1080p-296972.jpg");
background-size: 100%;

}

.threatsBod{
background-image: url("https://thumbs.gfycat.com/VigorousSophisticatedCarpenterant-size_restricted.gif");
background-size: 100%;
background-repeat: no-repeat;
background-position: 10% 10%;
}

.lifeMain{
	background-color: hsla(289, 76%, 48%, 0.69);
	display: flex;
	flex-direction: column;
	justify-content: center;
	width:20%;
	margin:0 auto;
	border:solid 10px #f0cc00;
}

.hobbyMain1{
	background-color: hsla(51, 100%, 47%, 0.69);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-around;
	width:60%;
	margin:0 auto;
	border:solid 10px purple;
	padding:30px;
	text-align:center;
}

.hobbyMain2{
	background-color: hsla(51, 100%, 47%, 0.69);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;
	width:20%;
	border:solid 10px purple;
	padding:10px;
	margin-left: 100px;
	margin-top: 10px;
	text-align:center;
}

.hobbyMain3{
	background-color: hsla(51, 100%, 47%, 0.69);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;
	width:20%;
	border:solid 10px purple;
	padding:10px;
	margin-right: 100px;
	margin-top: 10px;
	text-align:center;
}

.pYel{
	padding:20px;
	font-family: 'Nothing You Could Do', cursive;
	color:#f0cc00;

}


.pPur{
	font-family: 'Nothing You Could Do', cursive;
	color:purple;

}


.h1In{
	color:#f0cc00;
	font-size:30px;
	font-family: 'Sue Ellen Francisco', cursive;
}

.h1Hob{
	color:purple;
	font-size:30px;
	font-family: 'Sue Ellen Francisco', cursive;
}

nav{
	display:flex;
	margin: 0 auto;
	justify-content: space-around;
	flex-direction: row;
	margin:25px;
}

.aIn{
	color:#f0cc00;
	font-size:20px;
  font-family: 'Sue Ellen Francisco', cursive;
}

.aHob{
	color:purple;
	font-size:20px;
  font-family: 'Sue Ellen Francisco', cursive;
}

.headIn{
display: flex;
flex-direction: column;
justify-content: center;
width: 40%;
margin:0 auto;
text-align: center;
font-size: 10px;
}

.headHob{
display: flex;
flex-direction: column;
justify-content: center;
width: 40%;
margin:0 auto;
text-align: center;
font-size: 10px;
color:purple;
}

.bottomRow{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.secret{
	padding-left: 20px;
	padding-top: 100px;
}

.abMain{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:30px;
	text-align:center;
	margin: 50px;
}

.abMain2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:30px;
	text-align:center;
	margin:0 auto;
}


.abSort{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: hsla(51, 100%, 47%, 0.69);
	border:solid 10px purple;
	padding: 50px;
	text-align: center;
	margin: 0 auto;
}

.threatsMain{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: hsla(289, 76%, 48%, 0.69);
	border:solid 10px #f0cc00;
	padding: 30px;

}

.threatDiv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	text-align: center;
	width:33%;
}

video{
	margin-top: 100px;
}